@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

@layer base {
  .background {
    @apply bg-darkBlue flex items-center 
    justify-center p-6 h-screen;
  }
  .generator-container {
    @apply flex flex-col relative items-center
   justify-around
    bg-darkGrayishBlue px-6 pt-3 pb-16 
    rounded-[10px] md:rounded-[15px] md:max-w-3xl ;
  }

  .advice-number {
    @apply font-manrope text-neonGreen 
    font-extrabold text-[11px] md:text-[13px] py-4;
  }

  .advice {
    @apply font-manrope text-lightCyan 
    font-extrabold text-2xl md:text-[28px] leading-[32.78px] md:leading-[38.25px] text-center
    pb-7;
  }

  .divider-mobile {
    @apply md:hidden w-full;
  }
  
  .divider-desktop {
    @apply hidden md:block w-full;
  }

  .circle-btn {
    @apply flex items-center justify-center h-16 w-16
     rounded-full bg-neonGreen absolute -bottom-8 hover:shadow-center
    hover:shadow-neonGreen/25 transition-all duration-300 ease-in-out
    active:shadow-neonGreen/75 active:scale-95
     cursor-pointer ;
  }


}